/*Fontes*/

$fonteFirst: Roboto, sans-serif;

/*Cores*/

$corDoBotao: #44bd32;
$corFirst:#f5f6fa;
$corCabeca:#182C61;
$corMenuLi: #fff;
$corBotaoHover:#4cd137;

/*Breakpoints*/

$mobile: 767px;
$iPade:1023px;
